:root{
  --app-width: 400px;
  --element-width: calc(var(--app-width) * 2/3);
  --color-background: hwb(22 13% 21%);
  --color-button: rgb(109, 45, 66);
  --light-font-color: rgb(184, 34, 71);
  --dark-font-color: rgb(235, 193, 235);
  --letters-background: rgb(13, 97, 100);
  --letters-color:rgb(255, 255, 255);
  --font-size-big: 38px;
  --font-size-normal: 20px;
  --radius: 12px;
  --radius-small: 5px;
  --hegight-ui-element: 40px;
}



body{
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



#app{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


#input-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-form{
    text-align: center;
}

#input-field{
  background-color: transparent;
  text-transform: uppercase;
}

#input-button{
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

#next-button{
  border-radius: var(--radius);
}

#label-text{
  display: inline;
  line-height: var(--hegight-ui-element);
  background-color: var(--color-button);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.app-element{
  width: var(--element-width);
}

#outupt-word{
  text-align: center;
  letter-spacing: 0.14em;
}

.text-element{
  color: var(--light-font-color);
  font-size: var(--font-size-big);
}

.ui-element{
  color: var(--dark-font-color);
  font-size: var(--font-size-normal);
  height: var(--hegight-ui-element);
}

.button{
  background-color: var(--color-button);
}

.char-element{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--letters-background);
  font-weight: 900;
  color: var(--letters-color);
  font-size: var(--font-size-big);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: var(--radius-small);
  padding-inline: 10px 10px;
  width: 100px;
}
